@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.slick-initialized .slick-slide {
    margin-left: 16px;
}

#testimonials .slick-list {
    padding-top: 60px;
}

#testimonials .slick-vertical .box {
    margin-bottom: 150px;
}

@media (max-width:1024px) {
#testimonials .slick-initialized .slick-slide {
        margin-left: 145px !important;
        margin-right: 12px;
    }
}
@media (max-width:768px) {
#testimonials .slick-initialized .slick-slide {
        margin-left: 12px !important;
        margin-right: 12px;
    }
}